@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.card {
  width: 400px;
  height: auto;
  border: solid 3px;
  margin: auto;
}

.data {
  padding: 20px;
}

.data h1 {
  font-size: 35px;
  text-align: center;
}

.data p {
  font-size: 16px;
  margin-top: 10px;
}

.skill-list {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}
.skill span {
  font-size: 14px;
  font-weight: 500;
  padding: 0.2px;
}
img {
  width: 100%;
  height: auto;
}
